<% layout('layouts/boilerplate') %>
 <div class="row row-cols-lg-5 row-cols-md-3 row-cols-sm-1 g-4">
<% for (let listing of allListings) { %>
 
<div class="card col" style="width: 17rem;">
  <img src="<%= listing.image.url%>" class="card-img-top" alt="listing" style="height: 17rem;">
  <div class="card-body">
    <h5 class="card-title"><%=listing.title %>
      <br>
      <%=listing.price %>
    </h5>
    <p class="card-text"></p>
    <a href="/listings/<%=listing._id%>" class="btn btn-primary">check</a>
  </div>
</div>
 
  <% } %>
  </div>

